---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout title="Empower Your Business With AI" description="Artificial Intelligence consultancy and solutions provider, Provectus helps businesses achieve their objectives through AI">
  Main Page Content

  <p>Something Super Custom</p>
</Layout>
